{{- /* Comments area start */ -}}
<script>
    function getTheme() {
        const theme = localStorage.getItem('pref-theme');
        return theme === 'dark' ? 'dark' : 'light';
    }
    var remark_config = {
        host: "https://remark.bunin.dev",
        site_id: "bunin.dev",
        theme: getTheme(),
        locale: "{{ .Site.Language.Lang }}",
    };
    {{- if (not site.Params.disableThemeToggle) }}
    document.addEventListener('DOMContentLoaded', function () {
        function setGiscusTheme() {
            window.REMARK42.changeTheme(getTheme())
        }

        document.getElementById("theme-toggle").addEventListener("click", setGiscusTheme);
    });
    {{- end }}
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
<div id="remark42"></div>
{{- /* Comments area end */ -}}
